<p>
    Every company has communication processes occurring during the daily business. Those communication processes are handled in most cases via e-mail, sometimes via other means of communication and result in many e-mails sent and received every day as well as a lot of communication traffic.
</p>
<p>
    This unstructured way of communication is only working if the responsibilities within the company are well defined and known by everyone, but mostly this is not the case and results in exorbitant numbers of avoidable communication traffic (e-mails sent, hours spent on the telephone, time spent in avoidable meetings).
</p>
<p>
    Our software allows companies to structure their communication by defining responsibilities (who is responsible for what). As underlying concept we use a new and innovative concept called <a href="http://en.wikipedia.org/wiki/S-BPM">S-BPM</a>. Using our software, all issues related to communication can be resolved.
</p>


