@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>InFlow is the current working title of an upcoming software product released by Austrian start-up company <a href="http://www.strict-solutions.com">StrICT Solutions</a>. It will be a cloud based software solution which provides a way for companies to structure their communication.</p>
@Html.Partial("_Info")