@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>
<p>If you need anything you can either phone us, send us an e-mail or come by at our office for a nice and fresh coffee (or tea).</p>

<address>
    <a href="http://www.strict-solutions.com">StrICT-Solutions GmbH</a>
        <br />
        Plüddemanngasse 39<br/>
        8010 Graz<br />
        Austria
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:office@strict-solutions.com">office@strict-solutions.com</a><br />
    <strong>Phone:</strong>    +43 316 873 9120 <br />

</address>