@model strICT.InFlow.Db.Contracts.InFlow.WS_Subject
       
<h2>@Html.ActionLink(" ", "Index", Model.Project_Id, new { @class = "glyphicon glyphicon-arrow-left" })
 Process Designer</h2>
<h3>@Model.Name</h3>
<iframe src="~/Designer/PROMIDesignerStandaloneWeb.xbap" width="1000" height="800" frameborder="0"/>