@model System.Collections.Generic.Dictionary<string,string>

<h2> Submitted JSON Data </h2>
<br />
<p>@Model["json"]</p>

<br />
<a href="#" class="btn btn-default" onclick="$('#myModal').modal('hide')">Close</a>