@model List<strICT.InFlow.Web.Models.PDesignerViewModels.PD_MessageTypeDTO_ViewModel>

<div class="panel panel-primary">
    <div class="panel-heading">Select the subject you want to import</div>
    <div class="panel-body">

        <table class="table table-striped">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @if (ViewBag.Edit == 1)
                        {
                             @Ajax.ActionLink(" ", "_EditLoadImportedSubject", new { processidNew = item.PD_Process_Id, subjId = item.Id, processidOld = ViewBag.ProcessId, edit = ViewBag.Edit },
                              new AjaxOptions
                                                {
                                                   @* UpdateTargetId = "pdesignercontainer",
                                                    InsertionMode = InsertionMode.Replace,*@
                                                    HttpMethod = "GET"
                                                }
                                               , new { @class = "glyphicon glyphicon-floppy-open", @title = "import" }) 
                                }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer text-right">
        @Ajax.ActionLink("Back", "_EditImportedProcesses", new { processid = ViewBag.ProcessId, edit = ViewBag.Edit },
                  new AjaxOptions
                                        {
                                            UpdateTargetId = "pdesignerconfig",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET"
                                        }
                               , new { @class = "btn btn-warning" })
    </div>
</div>
