<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />


    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="strICT.InFlow.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                        </configSections>
  <connectionStrings>
   <!-- <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\StrICT\shared\InFlow-DB.mdf;Initial Catalog=InFlow-DB;Integrated Security=True" providerName="System.Data.SqlClient" />
 -->
    <add name="DefaultConnection" connectionString="Data Source=10.0.0.20;Initial Catalog=InFlow-demo;Integrated Security=False;User ID=admin;Password=admin;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--wuhuuuuuuuuuuuuuuuuuuuuu settings-->
    <add key="repositoryConnectionString" value="Data Source=10.0.0.20;Initial Catalog=InFlow-demo;Integrated Security=False;User ID=admin;Password=admin;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add key="wfmBaseAddress" value="https://10.0.0.20:12290/" />
    <add key="wfmUsername" value="Administrator" />
    <add key="wfmPassword" value="GH32$3e4r" />
    <add key="companyScopeName" value="demo" />
    <add key="wfMessageTierPath" value="C:\StrICT\InFlow\MessageTier.xaml" />
    <add key="wfTaskTierPath" value="C:\StrICT\InFlow\TaskTier.xaml" />

    <!-- Azure AD party hard-->
    <add key="ida:FederationMetadataLocation" value="https://login.windows.net/5b1888d3-020e-4f79-8b44-41ceec9cffdc/federationmetadata/2007-06/federationmetadata.xml" />
    <add key="ida:Realm" value="https://strictsolutions.onmicrosoft.com/AzureAuth" />
    <add key="ida:AudienceUri" value="https://strictsolutions.onmicrosoft.com/AzureAuth" />
    <add key="ida:ClientID" value="667e52e9-d2b0-42ad-b161-f678e49caa9d" />
    <add key="ida:Password" value="OJGxh65ebEfnRPUxMVm9Yc1NM/uBJbKlgJ6M5i/GqAI=" />

    <!--Azure AD-->
    <add key="AzureAD" value="false" />
 
  <add key="base_uri" value="https://api.createsend.com/api/v3.1" /><add key="base_oauth_uri" value="https://api.createsend.com/oauth" /></appSettings>
  <location path="Account">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />


  </system.web>
  <system.identityModel>
    <identityConfiguration>
    <!--Azure AD START-->
<!--
<claimsAuthenticationManager type="strICT.InFlow.Web.Helpers.GraphClaimsAuthenticationManager,                InFlow_Web" />
-->
      <!--Azure AD END-->
      <issuerNameRegistry type="strICT.InFlow.Web.Utils.DatabaseIssuerNameRegistry, InFlow_Web" />
      <audienceUris>
        <add value="https://strictsolutions.onmicrosoft.com/AzureAuth" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <!--Azure AD START-->
      <!--
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      -->
      <!--Azure AD END-->
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/strictsolutions.onmicrosoft.com/wsfed" realm="https://strictsolutions.onmicrosoft.com/AzureAuth" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
  <applicationSettings>
    <strICT.InFlow.Web.Properties.Settings>
      <setting name="ToEmail" serializeAs="String">
        <value>office@strict-solutions.com</value>
      </setting>
      <setting name="SMTPUsername" serializeAs="String">
        <value>azure_64916e6387b2f951d3789f3725df7fe6@azure.com</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>JqvuCLy4sFzSd40</value>
      </setting>
      <setting name="SMTPHostname" serializeAs="String">
        <value>smtp.sendgrid.net</value>
      </setting>
      <setting name="MainLogoUrl" serializeAs="String">
        <value>/Content/images/rp_logo_w.png</value>
      </setting>
      <setting name="FormLogoUrl" serializeAs="String">
        <value>http://www.mozart21.at/wp-content/uploads/2015/01/footer_logo.png</value>
      </setting>
      <setting name="FormStyle" serializeAs="String">
        <value>background-color:black;color:white;</value>
      </setting>
      <setting name="ReportTemplate_V" serializeAs="String">
        <value>C:\StrICT\RP\Vorlage_RP_V.docx</value>
      </setting>
      <setting name="ReportTemplate_H" serializeAs="String">
        <value>C:\StrICT\RP\Vorlage_RP_H.docx</value>
      </setting>
    </strICT.InFlow.Web.Properties.Settings>
  </applicationSettings>
</configuration>
