@model strICT.InFlow.Web.Models.User
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p>Hello @Model.displayName!</p>

<p>You are logged with a Windows Azure account. Your account name is: @Model.userPrincipalName.</p>
<p>Change your password <a href="http://portal.microsoftonline.com">here</a>.</p>
